<div class="thumbnail">
  <%= image_tag @profile.image.thumbnail %>
  <div class="caption">
    <h3><%= @profile.first_name %> <%= @profile.last_name %></h3>
    <p><%= @profile.address %></p>
    <% if current_user.admin == true %>
    <p>You have super powers, <a href="#pairs">go to pairs</a></p>
    <% else %>
    <p></p>
    <% end %>

  </div>
</div>
