<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Created Time</th>
        <th>Date</th>
        <th>Match</th>
      </tr>
    </thead>
    <% if @pairs.length != 0  %>
    <tbody>
        <% @chosen_days.each do |day| %>
        <tr>
          <td><%= day.pairs.first.updated_at %></td>
          <td><%= day.pairs.first.date %></td>
          <% day.pairs.each do |pair| %>
          <td><%= pair.users.ids %></td>
          <% end %>
        </tr>
        <% end %>
    </tbody>
    <% end %>
  </table>
</div>
