<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#Id</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
        <% @pairs.each do |pair| %>
        <tr>
          <td><%= pair.id %></td>
          <td><%= pair.users.ids %></td>
          <td><%= pair.date %></td>
          <td>sit</td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
