  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Manage users
      </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User Id</th>
                <th>Image</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="table-hover">
            <%= render 'users/students/list' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
